extends ./layout/application

block aside
  ul.nav.nav-sidebar#persons_container
    .text-center Loading...
block main
  #person_details_container
    .col-md-offset-5
     | No person chosen
      
append script
  script(type="text/template" id="person_view_template")
    a(href='#')
      strong ${ name }
      br
      i.small.text-muted ${ org_name }
  script(type="text/template" id="person_details_template")
    .col-md-offset-5.col-md-12
      .row
        .col-md-6
          h3 ${ name }
        .col-md-2
          h4 Deals  
    .col-md-offset-5.col-md-12
      .row
        .panel.panel-default
          .panel-body
            .col-md-6
              dl.dl-horizontal
                dt Phone
                dd ${ phone }
                dt E-mail
                dd ${ email }
                dt Added
                dd ${ added }
                dt Open deals
                dd ${ dealsCount }
                dt Next activity
                dd ${ nextActivity }
                dt Last activity
                dd ${ lastActivity }
            .col-md-6
              .panel.panel-default.clearfix
                .panel-heading
                  .row
                    .col-md-8.item 
                      strong Title
                    .col-md-4.item
                      strong Sum
                .panel-body.smallest-deal
                  .row
                    .col-md-8
                      span.text-muted ${ smallestDeal.name }
                    .col-md-4
                      span.text-muted ${ smallestDeal.value }
                  .row
                .panel-footer.largest-deal
                  .row
                    .col-md-8
                      span.text-muted ${ largestDeal.name }
                    .col-md-4
                      span.text-muted ${ largestDeal.value }
